* {
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}

img {
    width: auto !important;
}

.brand_logo img {
    width: 100% !important;
}

#headPattern {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 0;
}

#traingularPattern {
    position: absolute;
    right: 0px;
    top: 15em;
}

#circlePattern {
    position: absolute;
    top: 200%;
    transform: translateY(-50%);
}

#container {
    /* height: 100rem; */
    /* background-color: #e6f4f2; */
    background: rgb(229, 243, 241);
    background: linear-gradient(183deg, rgba(229, 243, 241, 1) 0%, rgba(255, 255, 255, 1) 44%);
}

#headOfContainer {

    text-align: center;
    padding-top: 250px;
}

.invertedComma {
    --tw-text-opacity: 1;
    color: rgb(96 195 173/var(--tw-text-opacity));
    font-weight: bolder;
    font-size: 50px;
}

.headItem {
    padding-top: 8px;
    font-size: 50px;
    font-weight: bold;
}

.textH {
    font-size: 17px;
    font-weight: 400;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 25px;

}

.card-relative {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    position: relative;
}

#relativeContainer {
    padding: 25px;
    width: 85%;
    margin: auto;
}

.imagewrap {
    width: 100%;
    background-color: #f1faf8;
    border-radius: 12px;
    height: 400px;
    position: relative;
}

.Avtar {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.pattern-img {
    position: absolute;
    right: 0;
}

.image-detail {
    padding: 12px;
}

.Avtar-name {
    color: #4ea08a;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 1px;

}

.Avtar-designation {
    font-weight: 500;
}

.hover_img_textcontent {
    position: absolute;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 17px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 13%, rgba(102, 197, 176, 1) 56%);
    color: white;
    font-weight: bold;
    border-radius: 12px;
    animation: fade .3s linear;
    overflow: hidden;
}

/* 
#hover_img,#hover_img1,#hover_img2,#hover_img3,#hover_img4,#hover_img5,#hover_img6{
    display: none;
} */

.hover_img {
    display: none;
}

@keyframes fade {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@media only screen and (max-width:768px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width:580px) {
    #cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .invertedComma {
        font-size: 30px;
    }

    .headItem {
        font-size: 30px;
    }

    .textH {
        font-size: 12px;
    }
}