:root {
    --light-green: #61c3ae;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

/* NAVBAR SECTTION */

/* mobile navbar */
#mobile_navbar {
    position: fixed;
    width: 100%;
    background: var(--white);
    z-index: 1;
    display: none;
}

.nav-icons {
    gap: 10px;
}

.search_icon i {
    background-color: var(--light-green);
    color: white;
    font-weight: normal;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 50px;
}

.tel_icon i {
    background-color: var(--light-green);
    color: white;
    font-weight: normal;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 50px;
}

/* HERO SECTION */
.img_sliding {
    display: grid;
    grid-template-columns: 100% 100%;
    overflow-x: scroll;
}

.img_sliding::-webkit-scrollbar {
    display: none;
}

.hero_nav_mobile {
    position: fixed;
    width: 100%;
}

.hero_nav_mobile .nav_img {
    width: 25%;
}

.sliding_img_1 {
    background: url("https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Ff_auto%2Cq_auto%3Alow%2Cw_600%2Fw_600%2Cq_auto%3Alow%2Fv1655294001%2FWebsite%2520v5%2FBanner%2FGuangzhou_2_Edited_2.jpg&w=1920&q=75");
    color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 2s ease;
}

.sliding_img_2 {
    background: url("https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Ff_auto%2Cq_auto%3Alow%2Cw_600%2Fv1653296622%2FWebsite%2520v5%2FBanner%2Fcity.jpg&w=1920&q=75");
    color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 2s ease;
}

.black_filter {
    width: 100%;
    height: 100%;
    background: #00000063;
}

.sliding_img_1_content {
    padding-right: 25%;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 24%;
}

.sliding_img_1_content p {
    font-weight: 500;
}

.img_sliding h1 {
    font-weight: bolder;
    font-size: 2rem;
}

.hero_highlight {
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--light-green);
}

#slide_links_wrapper {
    position: relative;
}

#slider_links {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
    margin: 20px;
    margin-left: 5%;
}

#slider_links a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


#slider_links a i {
    height: 7px;
    background: var(--white);
    width: 7px;
    display: block;
    border-radius: 20px;
    margin: 8px;
}

#slider_links_1 {
    border: 2px solid white;
}

/* Mobile search Box */
#mob_searchbox input {
    width: 100%;
    padding: 20px 10px;
    border: none;
    outline: none;
}

#mob_searchbox {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: -10%;
    box-shadow: 0px 0px 20px gray;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#mob_searchbox i {
    font-size: 1.3rem;
    color: gray;
}

#mob_searchbox input::placeholder {
    font-size: 1.2rem;
}

.property_type {
    background: var(--light-green);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 12px;
    width: 90%;
    position: relative;
}

.property_type h1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 0;
    color: white;
}

.student_housing {
    background: url("https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Ff_auto%2Cq_auto%2Fv1653291829%2FWebsite%2520v5%2FProductCards%2FStudent_1_copy.png&w=640&q=75");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.co_living_housing {
    background: url("https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Ff_auto%2Cq_auto%2Fv1653291829%2FWebsite%2520v5%2FProductCards%2FCo-living_1_copy.png&w=640&q=75");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.managed_apt_housing {
    background: url("https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Ff_auto%2Cq_auto%2Fv1653291830%2FWebsite%2520v5%2FProductCards%2FApartments_1_copy.png&w=640&q=75");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.explore_btn {
    display: flex;
    background: white;
    width: 105px;
    font-weight: bold;
    color: #61c3ae;
    padding: 8px 10px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
}

.explore_btn p {
    font-size: 1rem;
}

.explore_btn span {
    border: 2px solid #61c3ae;
    border-radius: 50px;
    font-size: 1.2rem;
}

.green_filter {
    width: 100%;
    height: 100%;
    background: var(--light-green);
    position: absolute;
    left: 0;
    border-radius: 16px;
    top: 0;
    background: rgb(97, 195, 174);
    background: linear-gradient(270deg, rgba(97, 195, 174, 0) 0%, rgba(97, 195, 174, 0.9198218262806236) 85%);
}

.property_type_text {
    position: relative;
}

#navbar {
    display: none !important;
}

#navbar a {
    display: flex;
    align-items: center;
}

.brand_logo {
    width: 8%;
}

.explore_btn_lg {
    display: none;
}

#request_callback {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    background: #61c3ae;
    border: none;
    color: white;
    border-radius: 10px;
}


#request_callback a {
    color: white;
    font-size: .9rem;
}

#request_callback i {
    color: var(--light-green);
    background-color: var(--white);
    padding: 4px 8px;
    border-radius: 50px;
}

.nav_links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/*----------------- 992px media query -------------------*/
@media only screen and (min-width: 992px) {

    /*-----  Navbar -----*/
    .hero_nav_mobile {
        display: none;
    }

    .nav_links {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    #mobile_navbar {
        display: none !important;
    }

    #navbar {
        display: flex !important;
        justify-content: space-between;
    }

    /*-------- Hero Section ---------*/
    .property_type_text {
        width: 60%;
    }

    .property_type_text h1 {
        color: black;
        font-weight: 500;
    }

    .green_filter {
        background: none;
    }

    .explore_btn {
        display: none;
    }

    .explore_btn_lg {
        padding-top: 2%;
        display: block;
    }

    .explore_btn_lg span {
        background: white;
        border-radius: 50px;
        padding: 7px;
    }

    #mob_searchbox {
        display: none;
    }

    .black_filter {
        background: transparent;
    }

    #sliding_img_1 {
        background-image: url('images/1-modified.png');
        background-size: contain;
        background-position: right;
    }

    #sliding_img_2 {
        background-image: url('images/2-modified.png');
        background-size: contain;
        background-position: right;
    }

    .property_type {
        width: 94%;
    }

    #slider_links a i {
        background: var(--light-green);
    }

    .sliding_img_1_content {
        color: black;
    }

    .sliding_img_1_content h1 {
        font-size: 3.4rem;
    }

    .hero_highlight {
        font-size: 3.4rem;
    }

    .sliding_img_1_content {
        padding-right: 19%;
        padding-bottom: 19%;
        padding-top: 15%;
        padding-bottom: 19%;
    }
}



/* oadsihfds */