#whyBox div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#globalWhy1 :first-child{
    display: block;
    gap: 3em;
}

#globalWhy1{
   padding: 3.7em;
   
}
h1{
    font-weight: bolder;
    /* font-family: monospace; */
}
p{
    font-size: 16px;
}
#globalWhy1 > div{
    max-width: 50%;
}
img{
    border-radius: 16px;
    max-width: 100%;
}
#globalWhy1 > div > :nth-child(2){
    color: #60c3ad;
}

#aboutUsHeading{
    text-align: center;
    font-weight: bolder;
    font-size: 56px;
    line-height: 64px;
    font-family: monospace;
}
#aboutUsHeading > span{
    color: #60c3ad;
}
#navBar{
    display: flex;
    /* justify-content: center; */
    margin: auto;
    width: 40%;
    gap: 15px;
    max-width: 100%;
    height: 60px;
   box-sizing: border-box;
   border-radius: 30px;
   padding: 0 21px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
 }
 #navBar div{
    margin: auto;
    
        padding: 19px 0px 17px;
        
        font-family: Font-Book;
       /* border-bottom: 2px; */
       /* border: 2px solid black; */
        font-size: 16px;
        line-height: 22px;
        flex: 1 1 0%;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    
 }
 #display{
   margin-top: 100px;
 }

  #whySecond{
    display: block !important;
    width: 50%;

 } 

 #globalWhy2{
    display: block !important;
 }
 #whySecond :nth-child(2){
    color: #60c3ad;
 }
 #whyBox h1{
  font-size: 36px;
  line-height: 44px;
  text-align: start;
 }
 #whyBox :nth-child(3){
   /* background-color: #60c3ad; */
    padding: 5%;
    display: block;
    align-items: centerl;
 }
 #whyBox > :nth-child(3) div{
    display: block;
    background-color: #60c3ad;
    width: 50%;
    margin-left: 300px;
    text-align: center;
    
 }
 #whyBox > :nth-child(3) div :nth-child(2){
    color: #60c3ad;
    
 }

 #whyBox > :nth-child(3) div h1{
    text-align: center;
 }
 #h1sec{
   color: #60c3ad;
 }
 #whyBox > :nth-child(4){
    display: block !important;
    background-color: #60c3ad;
 }

 